/* body{
    background-color: aqua;
    margin: 5px;

}
.container {
    border-color: red;
    background-color: rgba(102, 255, 0, 0.664);
    align-items: center;
}
#name{
    padding: 5px;
    margin: 5px;
}
#surename{
    padding: 5px;
    margin: 5px;
    
}
#xarajat{
    padding: 5px;
    margin: 5px;
    
} */

body{
    background-color: rgba(15, 218, 65, 0.836);
}

.tasbeh {
    width: 130px;
    height: 150px;
    background-color: rgba(39, 112, 221, 0.836);
    border: 1px solid chocolate;
    position: absolute;
    top: 10%;
    left: 39%;
    border-radius: 20px;
}
.ekran {
    width: 55%;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 20%;
    caret-color: #fff;
    border-radius: 9%;
    border: 1px solid floralwhite;
    text-align: center;
    font-size: 34px;
}
.tugma{
    position: absolute;
    top: 42%;
    left: 35%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: gray;
}
.off{
    position: absolute;
    top: 80%;
    left: 43%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}